.intro{
    font-family: 'Righteous', cursive;
    background: red;
    display: flex;
    flex-direction: column;
}

div h1 {
    align-self: flex-start;
    margin: 10px;
}

div h2 {
    align-self: flex-end;
    margin: 10px;
}

div h3 {
    align-self: flex-end;
    margin: 10px;
}