.intro{
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    background: rgb(255,255,255);
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 47%, rgba(105,106,106,1) 100%);
    
}

div h1 {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 10rem;
}

.animation {
    animation: backInRight;
    animation-duration: 4s;
}

div h2 {
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 18rem;
}

div h3 {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 8rem;
}

div p {
    align-self: flex-end;
    font-size: 3rem;
    margin-right: 20px;
}